<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/chess_index.css">
</head>
<body>
    <div class="menu">
        <div class="alt_menu">
            <div class="title">Chess Game</div>
            <div class="bottom_menu">
                <button onclick="location.href='/new_game'" type="button">New Game</button>
                <button onclick="location.href='/saved_games'" type="button">Saved Games</button>
                <button onclick="location.href='/settings'" type="button">Settings</button>
                <button onclick="location.href='/exit'" type="button">Exit</button>
            </div>
        </div>
    </div>
</body>
</html>