<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <!-- header -->
        </div>
        <div class="center">
            <!-- add saved games -->
        </div>
        <div class="bottom">
            <div class="pagination">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
            <a href="/"><div class="back-btn"></div></a>
        </div>
    </div>
</body>
</html>