<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/chess_new_game.css">
    <title>Document</title>
</head>
<body>
    <div class="background"></div>
    <div class="field">
        <div class="table">
            <div class="square1 square"></div>
            <div class="square2 square"></div>
            <div class="square3 square"></div>
            <div class="square4 square"></div>
            <div class="square5 square"></div>
            <div class="square6 square"></div>
            <div class="square7 square"></div>
            <div class="square8 square"></div>
            <div class="square9 square"></div>
            <div class="square10 square"></div>
            <div class="square11 square"></div>
            <div class="square12 square"></div>
            <div class="square13 square"></div>
            <div class="square14 square"></div>
            <div class="square15 square"></div>
            <div class="square16 square"></div>
            <div class="square17 square"></div>
            <div class="square18 square"></div>
            <div class="square19 square"></div>
            <div class="square20 square"></div>
            <div class="square21 square"></div>
            <div class="square22 square"></div>
            <div class="square23 square"></div>
            <div class="square24 square"></div>
            <div class="square25 square"></div>
            <div class="square26 square"></div>
            <div class="square27 square"></div>
            <div class="square28 square"></div>
            <div class="square29 square"></div>
            <div class="square30 square"></div>
            <div class="square31 square"></div>
            <div class="square32 square"></div>
            <div class="square33 square"></div>
            <div class="square34 square"></div>
            <div class="square35 square"></div>
            <div class="square36 square"></div>
            <div class="square37 square"></div>
            <div class="square38 square"></div>
            <div class="square39 square"></div>
            <div class="square40 square"></div>
            <div class="square41 square"></div>
            <div class="square42 square"></div>
            <div class="square43 square"></div>
            <div class="square44 square"></div>
            <div class="square45 square"></div>
            <div class="square46 square"></div>
            <div class="square47 square"></div>
            <div class="square48 square"></div>
            <div class="square49 square"></div>
            <div class="square50 square"></div>
            <div class="square51 square"></div>
            <div class="square52 square"></div>
            <div class="square53 square"></div>
            <div class="square54 square"></div>
            <div class="square55 square"></div>
            <div class="square56 square"></div>
            <div class="square57 square"></div>
            <div class="square58 square"></div>
            <div class="square59 square"></div>
            <div class="square60 square"></div>
            <div class="square61 square"></div>
            <div class="square62 square"></div>
            <div class="square63 square"></div>
            <div class="square64 square"></div>
        </div>
    </div>

    <div class="side-bar">
        <a href="/new_game"><div class="new-game">New Game</div></a>
        <div class="save-game">Save Game</div>
        <div class="left-expand"></div>
        <div class="side-menu">
            <div class="finish-game"></div>
            <div class="settings"></div>
            <a href="/">
                <div class="exit"></div>
            </a>
        </div>
    </div>
    <div class="pop-up-finish-game">
        <div class="pop-up-top"></div>
    </div>
    <div class="pop-up-settings"></div>
    <div class="pop-up-saved">
        <div class="pop-up-top"></div>
        <div class="rows">
            <div class="row1">
                <input id="player1" type="text" name="player1" placeholder="Player1 name">
                <input id="player2" type="text" name="player2" placeholder="Player2 name">
            </div>
            <div class="row2">
                <input id="gamename" type="text" name="game_name" placeholder="Game name">
                <input id="descr" type="text" name="description" placeholder="Description">
            </div>
            <div class="row3">
                <input id="clearbtn" type="button" name="clear" value="Clear">
                <input id="submitbtn" type="submit" name="submit" value="Submit">
            </div>
        </div>
    </div>
    <div class="pop-up-success"></div>
    <script src="../static/js/chess_new_game.js"></script>
</body>
</html>